
body {
        margin: 0;
        padding: 0;
        font-family: 'Arial';
}


/*Header Section
===============================================================================================*/
.header{
    display:flex;
    flex-direction:column;
    background-color: #1f2937;
   
}

.top{
    display:flex;
    justify-content: space-around;
    
    gap:500px;
    padding-top: 20px;
}

.logo{
    color: #f9faf8;
    font-size:24px;
    font-weight: bold;
    font-family: 'Arial', 'Verdana', 'Helvetica';
}

.pusheen{
    height: 60px;
    width: auto;
}

.hlinks{
    list-style-type:none;
    display:flex;
    gap: 12px;
    font-size: 18px;
    color: #e5e7eb;
    font-family: 'Arial', 'Verdana', 'Helvetica';
}

.bottomh{
    display:flex;
    justify-content: space-evenly;
    padding: 50px;

}

.hero{
    width:400px;
}

.heromain{
    font-size:48px;
    color: #f9faf8;
    font-weight: bold;
    
}

.herominor{
    margin-top: 5px;
    font-size:18px;
    color: #e5e7eb;
    
}

.herobutton{
    margin-top: 10px;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 8px 30px 8px 30px;  
    border-radius:10px;
    border-color: #3882f6;
}

.mainpic{
    width: 450px;
}

/* ======================================================================= */

/*Second section
==============================================================================*/

.body1{
    display:flex;
    flex-direction:column;
    padding-bottom: 100px;
}

.topbody1{
    display:flex;
    justify-content:center;
    font-size:36px;
    font-weight:1000;
    color: #1f2937;
    margin: 20px;
    padding-bottom: 25px;
}

.pic{

    border-radius: 15px;
    background: #3882f6;
    padding: 5px;
    width: 160px;
    
    object-fit: cover;

}

.bottombody1{
    display:flex;
    justify-content:space-evenly;
}

.pic1{
    display:flex;
    flex-direction:column;
    text-align:center;
    font-size: 18px;
    color: #535455;
    font-weight:550;
    width: 160px;
    
}
/* ======================================================================= */
/*width: 12%;
max-width:12%;
height: 12%;
max-height:12%;
/*Third section
==============================================================================*/
.body2{
    display:flex;
    flex-direction:column;
    background-color: #e5e7eb;
    padding: 75px 75px 75px 50px;
    
}

.quote{
    text-align:center;
    font-size: 36px;
    color: #1f2937;
    font-style:italic;
    font-weight:100;
}

.author{
    text-align:end;
    color: #1f2937;
    font-size:24px;
    font-weight: 800;
}

/* ===========================================================================*/

/*Fourth section
==============================================================================*/
.body3{
    display:flex;
    justify-content: center;
}

.ad{
    margin: 100px;
    display:flex;
    background-color:#3882f6;
    width:1000px;
    height: 125px;
    justify-content: space-around;
    align-items: center;
    color:#f9faf8;
    border-radius: 10px;
    background: #3882f6;
    padding: 5px;
    
}

.actionheader{
    font-size:24px;
    font-weight:bold;
}

.actionquote{
    color:#f9faf8a2
}

.buttonaction{
    border-width:3px;
    border-color:white;
    
}

/* ===========================================================================*/

/*Footer section
==============================================================================*/
.footer{
    background-color: #1f2937;
    color: rgba(255, 255, 255, 0.726);
    font-size:18px;
    text-align:center;
    padding: 30px;
}